@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,700|Slabo+27px|Source+Sans+Pro:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:300,300i,700');

body {
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  @media #{$mobile} {
    font-size: 16px;
  }
}

.word-mark {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  @media #{$mobile} {
    font-size: 30px;
  }
  a {
    color: $text-color-dark !important; 
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
	font-family: 'Lora', serif;
	/*font-family: 'Playfair Display', serif;*/
	letter-spacing: -0.01em;
	font-weight: 400;
}

h1 {
	font-size: 35px;
	margin-bottom: 1rem;
  margin-top: 8px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 5px solid rgba(yellow, 0.4);
  @media #{$mobile} {
    font-size: 22px;
  }
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 24px;
  @media #{$mobile} {
    font-size: 22px;
  }
}

a {
  color: $peachy-red;
  &:visited {
    color: $peachy-red;
  }
  &:hover {
  	color: teal;
  }
}

p {
	margin-top: 8px;
  font-size: 18px;
  line-height: 1.5em;
  
  @media #{$mobile} {
    font-size: 16px;
  }
}

p.focus {
  font-family: 'Lora', serif;
  font-size: 36px;
  font-weight: 500;
  opacity: 0.9;
  
  @media #{$mobile} {
    font-size: 20px;
  }
}

span.emphasis {
  font-weight: 700;
}
