$peachy-red: #e45c5b;
$plum-purple: #867194;
$gutter: 30px;
$text-color-dark: rgba(0,0,0,0.82);

$teal: #b3f0f5;
$peach: #fbd3ff;
$sunrise: #f5d29e;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";
