@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,500,700|Slabo+27px|Source+Sans+Pro:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:300,300i,700");
*, *:after, *:before {
  box-sizing: border-box; }

body {
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300; }
  @media (max-width: 767px) {
    body {
      font-size: 16px; } }

.word-mark {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700; }
  @media (max-width: 767px) {
    .word-mark {
      font-size: 30px; } }
  .word-mark a {
    color: rgba(0, 0, 0, 0.72) !important;
    text-decoration: none; }

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
  /*font-family: 'Playfair Display', serif;*/
  letter-spacing: -0.01em;
  font-weight: 400; }

h1 {
  font-size: 35px;
  margin-bottom: 1rem;
  margin-top: 8px; }

h2 {
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 5px solid rgba(255, 255, 0, 0.4); }
  @media (max-width: 767px) {
    h2 {
      font-size: 22px; } }

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 24px; }
  @media (max-width: 767px) {
    h3 {
      font-size: 22px; } }

a {
  color: #e45c5b; }
  a:visited {
    color: #e45c5b; }
  a:hover {
    color: teal; }

p {
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.5em; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

p.focus {
  font-family: 'Lora', serif;
  font-size: 36px;
  font-weight: 500;
  opacity: 0.9; }
  @media (max-width: 767px) {
    p.focus {
      font-size: 20px; } }

span.emphasis {
  font-weight: 700; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
html {
  font-size: 100%; }

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.72);
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(to right, #b993d6, #8ca6db);*/
  background: linear-gradient(to top, #f5d29e, #fbd3ff, #b3f0f5); }

main.content {
  max-width: 62rem;
  margin: 0 auto;
  transition: padding-right 0.2s ease;
  padding: 4rem 0; }
  main.content.mobile-nav-open {
    overflow: hidden;
    padding-right: 0px;
    height: 100vh; }

.nav {
  /*font-family: 'Noto Sans', sans-serif;*/
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /*background-color: yellow;*/
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .nav .word-mark {
    margin-top: 0px;
    margin-bottom: -3px; }
  .nav .menuItems {
    display: flex;
    justify-content: flex-start;
    /*display: none;*/ }
  .nav .menuItem {
    display: block;
    text-align: right;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    /*color: $peachy-red;*/
    padding-left: 30px;
    margin: 0px; }
    @media (max-width: 767px) {
      .nav .menuItem {
        font-size: 22px; } }
    .nav .menuItem.active {
      font-weight: 800; }
  .mobile-nav-open .nav {
    margin-left: -85vw;
    opacity: 0.3; }

.section {
  display: flex;
  margin: auto;
  padding: 4rem 0;
  /*border: 1px solid rgba(255, 0, 0, 1);
  background-color: rgba(255, 255, 0, 0.5);*/ }
  .section .section-right {
    margin-left: 4rem; }
    .section .section-right .media {
      width: 32rem;
      height: 32rem;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }

.section.three-column {
  justify-content: space-between; }
  .section.three-column .column {
    width: 30%; }

.section.divier {
  padding: 2rem 0 0rem 0;
  background-color: red; }

.intro {
  display: flex;
  align-items: center; }
  .intro .portrait {
    /*border-radius: 50%;*/
    object-fit: cover;
    width: 24rem;
    height: 24rem;
    position: relative;
    border-radius: 100%; }

#seeall {
  display: flex;
  justify-content: flex-end;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #72DBB1;
  font-weight: 800; }
  @media (min-width: 1024px) {
    #seeall {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #seeall {
      display: none; } }
  #seeall .seeall-icon {
    display: block;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    background-image: url("../images/go-right.svg");
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center center; }

.content-primary {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  animation: fadein 0.5s;
  transition: opacity 0.4s ease, margin-left 0.3s ease; }
  @media (max-width: 767px) {
    .content-primary {
      width: 100%; } }
  .mobile-nav-open .content-primary {
    margin-left: -85vw;
    opacity: 0.3; }

.figure > img {
  max-width: 100%; }

.content-side {
  margin-left: 20px;
  width: 300px;
  padding: 0px 30px 0px 30px;
  opacity: 0.7;
  transition: opacity 0.3s ease; }
  .content-side:hover {
    opacity: 1; }
  @media (max-width: 767px) {
    .content-side {
      opacity: 1; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content-side {
      opacity: 1; } }
  .content-side .side-nav {
    width: 250px;
    position: fixed;
    right: 10vw;
    height: 100vh;
    overflow-y: scroll;
    list-style: none;
    margin-top: 0px;
    padding: 0px;
    padding-left: 10px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content-side .side-nav {
        right: 5vw; } }
    @media (max-width: 767px) {
      .content-side .side-nav {
        text-align: center;
        padding-bottom: 10vh;
        height: 90vh;
        top: 10vh;
        width: 80vw;
        right: auto;
        left: 110vw;
        opacity: 0;
        transition: left 0.2s ease, opacity 0.4s ease-out; }
        .mobile-nav-open .content-side .side-nav {
          opacity: 1;
          left: 10vw;
          padding-left: 0px;
          height: 80vh;
          padding-bottom: 10vh; } }
    .content-side .side-nav #back {
      display: none; }
      @media (max-width: 767px) {
        .content-side .side-nav #back {
          display: flex;
          flex-direction: column;
          align-items: center; } }
    .content-side .side-nav .back-icon {
      display: block;
      width: 36px;
      height: 36px;
      margin-left: 5px;
      background-image: url("../images/go-left.svg");
      background-size: 36px 36px;
      background-repeat: no-repeat;
      background-position: center center; }
    .content-side .side-nav a {
      text-decoration: none; }
    .content-side .side-nav .side-nav-category {
      margin-bottom: 20px;
      font-size: 20px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .content-side .side-nav .side-nav-category {
          font-size: 18px; } }
      @media (max-width: 767px) {
        .content-side .side-nav .side-nav-category {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 40px;
          font-size: 18px; } }
      .content-side .side-nav .side-nav-category .title {
        display: block;
        margin-bottom: 10px; }
        @media (max-width: 767px) {
          .content-side .side-nav .side-nav-category .title {
            padding-bottom: 5px;
            margin: auto;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 15px; } }
      .content-side .side-nav .side-nav-category .side-nav-list {
        list-style: none;
        font-size: 20px;
        padding: 0px;
        padding-left: 20px; }
        @media (max-width: 767px) {
          .content-side .side-nav .side-nav-category .side-nav-list {
            font-size: 18px;
            padding-left: 0px; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .content-side .side-nav .side-nav-category .side-nav-list {
            font-size: 18px; } }
        .content-side .side-nav .side-nav-category .side-nav-list .side-nav-item {
          cursor: pointer;
          margin-bottom: 8px;
          transition: color 0.2s ease; }
          .content-side .side-nav .side-nav-category .side-nav-list .side-nav-item:hover a {
            color: #dd302f; }
          .content-side .side-nav .side-nav-category .side-nav-list .side-nav-item.active {
            font-weight: 800; }
          @media (max-width: 767px) {
            .content-side .side-nav .side-nav-category .side-nav-list .side-nav-item {
              font-size: 20px;
              padding: 5px 0px;
              /*background-color: lighten($peachy-red, 30%);*/
              width: 100%;
              font-size: 26px; } }

.homepage .contact-links {
  display: flex; }
  .homepage .contact-links a {
    display: block;
    width: 36px;
    height: 36px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 16px 0px 0px; }
    .homepage .contact-links a.gmail {
      background-image: url("../images/gmailLogo.png"); }
    .homepage .contact-links a.medium {
      background-image: url("../images/mediumLogo.png"); }
    .homepage .contact-links a.twitter {
      background-image: url("../images/twitterLogo.png"); }

.work-page .hero-image {
  margin-top: 20px;
  max-width: 100%; }
  .work-page .hero-image img {
    max-width: 100%; }
.work-page .work-links {
  list-style: none;
  padding-left: 0px;
  margin-top: 40px; }
  .work-page .work-links .work-link {
    margin-bottom: 10px;
    display: flex;
    align-items: center; }
    .work-page .work-links .work-link img {
      width: 36px;
      height: 36px;
      margin-right: 10px; }
    .work-page .work-links .work-link a {
      text-decoration: none; }

.block-quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-top: 30px; }
  .block-quote:before {
    position: absolute;
    left: 0px;
    top: -30px;
    content: '“';
    font-family: 'Playfair Display', serif;
    /*font-family: 'Slabo 27px', serif;*/
    color: #e45c5b;
    font-size: 60px; }
    @media (max-width: 767px) {
      .block-quote:before {
        font-size: 40px; } }
  .block-quote p {
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    padding-left: 30px; }
    @media (max-width: 767px) {
      .block-quote p {
        font-size: 17px; } }
  .block-quote .author {
    position: relative;
    text-align: right;
    color: #e45c5b;
    font-size: 18px;
    font-weight: 700; }
    .block-quote .author:before {
      position: absolute;
      left: -5px;
      /*content: '—';*/ }

/*# sourceMappingURL=styles.css.map */
