.podcast-list {
	margin-top: 2rem;
	padding-left: 0px;
}

.podcast-link {
	margin-bottom: 1.5rem;
	text-decoration: none;
	display: block;
	
	.ep-no {
		font-family: 'Lora', serif;
		display: inline-block;

		@media #{$mobile} {
			display: block;
			margin-bottom: 4px;
		}
	}
	h2 {
		border: 0px;
		margin: 0px 8px;
		display: inline-block;
		font-size: 25px;
		border-bottom: 1px solid $text-color-dark;

		@media #{$mobile} {
			margin: 0px;
		}
	}	
	p {
		display: block;
		margin-bottom: 4px;
		margin-left: 2rem;
		@media #{$mobile} {
			margin-left: 0rem;
		}
	}	
	.listen {
		text-decoration: underline;
		display: block;
	}
}
